

<img src="assets/banner/cb.jpeg" width="1400" style="margin-left: -1%;" >

<section id="bluescreen">
    <div class="value-prop-container">
        <div class="text-container">
        <figure>
            <img src="assets/banner/codes.png" alt="" width="400">
        </figure>
        </div>
    </div>
    <h3>Pioneering a Dev-Centric Approach</h3>
<p>Dive into the world of Kentapay Payments with an<br> arsenal of resources at your fingertips. We've got <br>you covered with extensive documentation,<br> interactive API playgrounds, and Postman<br> collections, all designed to kickstart your journey<br> into the KentaPay Payments ecosystem in no time.</p>
<button type="button" class="btn btn-light">Get Started</button>
</section>
