
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.active {
    color: rgb(107, 171, 232);
    text-decoration: none;
    border-bottom: none;
}

.headerbutton {
    border: 2px solid #206fb7;
    background-color: #206fb7;
    color: #fff;
    font-weight: 200px;
    padding: 12px 15px;
    border-radius: 7px;
    outline: none;
    margin: 50px;
    cursor: pointer;
  }
  
  .headerbutton {
    background-color: #206fb7;
    font-size: 1.2em;

  }
  
  .headerbutton:hover {
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    color: #fff;
  }
  

#header{
    display:flex;
    align-items:center;
    justify-content: right;
    padding: 20px 80px;
    background: #fff;
    box-shadow:  #fff;
    border: 0;
    border-bottom: none;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 65px;
    margin: -60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 405px;
}
.logo {

  margin-right: 70px;   
  margin-top: 0.5%;
  
  
}
/*
#product-dropdown {
 
  margin-left: -1%;
  margin-top: -0.5%;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid #fff;
  cursor: pointer;
}
#product-dropdown:hover{
  color: #127ed1;
}
*/
.dropdown {
  display: inline-block;
}

.dropbtn {
  font-size: 1.2em;
  text-decoration: none;
  color: #1a1a1a;
  padding: 14px 16px;
  
  font-family: 'Roboto', sans-serif;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn img {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  margin-left: 8px; /* Adjust the spacing between text and image */
  vertical-align: middle;
  
}
/*
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;  Adjust the padding as needed 
  margin-top: -0.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


#navbar li {
  margin-top: 1%;
  margin-right: 20px; /* Adjust the margin as needed 
  color: #1a1a1a;
  
}
*/
.headerbutton {
  padding: 10px 20px; /* Adjust the padding as needed */
}

#navbar {
  margin-top: -0.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin: -0.004px;
    margin-left: -2%;

}
#navbar li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #1a1a1a;
    transition: 0.3s ease;
 
    
}
#navbar li a:hover{
    color: #127ed1;
}

#mobile{
  display: none;
  align-items: center;

}
