<br>
<br>

<section id="header">
  <div class="logo">
  <a href="#"><img src="assets/klogo.png" alt="" class="logo" width="200"></a>
  </div>
 <!--
  <select id="product-dropdown" onchange="location = this.value;">
    <option value="#">Products</option>
    <option value="sms.html">SMS</option>
    <option value="onlinepayment.html">Online Payment</option>
    <option value="ussd.html">USSD</option>
    <option value="airtime.html">Airtime</option>
  </select>
   <nav class="navbar">
   
    <ul id="navbar">-->
      <nav class="navbar">
        <ul id="navbar">
          <!-- Other menu items -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Products<img src="assets/arrow angle down.png">
            </a>
            <div class="dropdown-content">
              <a href="#">SMS</a>
              <a href="#">Online Payment</a>
              <a href="#">USSD</a>
              <a href="#">Airtime</a>
            </div>
          </li>
      <li><a href="#" >Developers</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Payments</a></li>
     <button type="button" class="headerbutton">Talk to Us</button>
  
      <!--<li><button onclick="location.href='signup.html'">Sign up</button></li>-->
    </ul>
</nav>

</section>
