<img src="assets/africa/africa.png" width="1400" height="500" style="margin-left: -1%;">

<section id="pinkscreen">
    <div class="value-prop-container">
        <div class="text-container">
        <figure>
            <img src="assets/africa/pa.png" alt="" width="380">
        </figure>
        </div>
    </div>
    <h1>We are trusted across Africa, with<br>over 13 years experience</h1>
<p>In today's world, delivering a great customer experience is essential<br>in differentiating your business and building loyalty with your<br>customers</p>

</section>
