#bluescreen {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  .value-prop-container {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    background-color: #fff; /* Set the background color to black */
    color: white; /* Set text color to white */
    margin-top: -5%;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  figure {
   margin-top: -40%;
    text-align: right;
    margin-right: 2.0%;
  }
  
  /* Style the text inside the container */
  .text-container h2,
  .text-container .description,
  .text-container ul li {
    color: white; /* Set text color inside the container to white */
  }
  .container{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #pinkscreen h1{
    font-size: 2.8em !important;
    margin-top: -29%;
    color: #fff;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }
  #pinkscreen p{
    font-size: 1.8em;
    font-weight: 100;
    color: #ede3e3;
    margin-top: 4%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
  }
   
