@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

/* Apply the Roboto font to different elements */
body {
  font-family: 'Roboto', sans-serif; /* Apply the Roboto font to the entire body */
  font-weight: 400; /* Set the default font weight for the body */
  margin: 0; /* Remove default margin */
}

.bggrey {
  background-color: #f0f0f0; /* Set a background color for the container */
  margin-left: -1%; /* Remove default margin */
}

h3 {
  font-family: 'Roboto', sans-serif; /* Apply the Roboto font to headings */
  font-weight: 700; /* Set the font weight to bold for headings */
  color: #206fb7; /* Set heading color */
}

p {
  font-family: 'Roboto', sans-serif; /* Apply the Roboto font to paragraphs */
  font-weight: 200; /* Set the font weight to light for paragraphs */
  font-size: 1.2em; /* Set paragraph font size */
  line-height: 1.6; /* Set line height for better readability */
  color: #333; /* Set paragraph text color */
}

#talktous {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  margin-top: -45%;
}

#talktous h3 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #206fb7;
  margin-left: -60%;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
}

#talktous img {
  max-width: 100%;
  height: auto;
  margin-top: -0.9%;
  margin-left: -3%;
}

#talktous p {
  font-size: 1.8em;
  margin-top: -28%;
  color: #fff;
  margin-left: 45%;
  display: block;
  text-align: left;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}

.herobutton {
  border: 2px solid #fff;
  background-color: #206fb7;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 60px;
  margin-right: -5.8%;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s; /* Add a smooth transition effect */
}

.herobutton:hover {
  background-color: #1a1a1a;
  color: #fff;
  border: 2px solid #1a1a1a;
}
