
#license h3{
    font-size: 2.5em;
    margin-top: 8%;
    color: #206fb7;
    font-family: 'Roboto', sans-serif;
   text-align: center;
  }
  #license p{
    font-size: 1.5em;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1%;
   text-align: center;
    font-family: 'Roboto', sans-serif;
    
  }
  #feature {
    display: flex;
    align-items: flex-start; /* Adjusted alignment to start */
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  #feature .fe-box {
    width: 160px;
    height: 150px; /* Set a fixed height for all boxes */
    text-align: center;
    padding: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 7px;
    margin: 10px; /* Adjusted margin */
  }
  
  #feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  
  #feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #feature .fe-box h6 {
    font-size: 1.5em;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 1%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }
  
  #feature .fe-box:nth-child(2) h6,
  #feature .fe-box:nth-child(3) h6 {
    background-color: #fff;
  }
  