<br>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:wght@300;500&family=Roboto:wght@300&display=swap" rel="stylesheet">

<section id="license">
    <h3>Licensed Service Provider</h3>
    <p>Here are some of our hard earned license's from relevant authorities</p>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="assets/1.png" alt=" ">
        <h6>PCI License</h6>
    </div>

    <div class="fe-box">
        <img src="assets/2.png" alt=" " height="105" width="105">
        <h6>CAK License</h6>
    </div>

    <div class="fe-box">
        <img src="assets/3.png" alt=" ">
        <h6>PSP License</h6>
    </div>
</section>