<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:wght@300;500&family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
<body>
<div class="bggrey">
    <img src="assets/banner/image-658x86.jpg" width="1450">
    </div>
    
    <section id="talktous">
    <h3>Embed payments on your platform</h3>
    <img src="assets/banner/b1 - Copy.png" width="1800">
    <p>Millions of companies of all sizes&#8213;from <br> startups to Fortune 500s&#8213;use kentaPay <br>software and APIs to accept payments, send <br>payouts, and manage their businesses online.</p>
    <button type="button" class="herobutton">Talk to Us</button>
    </section>
    <br>
</body>