#bluescreen {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  .value-prop-container {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    background-color: #fff; /* Set the background color to black */
    color: white; /* Set text color to white */
    margin-top: -5%;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  figure {
   margin-top: -31%;
    text-align: right;
    margin-right: 10%;
  }
  
  /* Style the text inside the container */
  .text-container h2,
  .text-container .description,
  .text-container ul li {
    color: white; /* Set text color inside the container to white */
  }
  .container{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #bluescreen h3{
    font-size: 1.8em;
    margin-top: -31%;
    color: #fff;
    margin-left: 11%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
  }
  #bluescreen p{
    font-size: 1.5em;
    font-weight: 100;
    color: #ede3e3;
    margin-top: 1%;
    margin-left: 11%;
    font-family: 'Roboto', sans-serif;
  }
   
.btn {
  border: 2px solid #fff;
  background-color: #206fb7;
  color: #fff;
  font-weight: 200px;
  padding: 10px 60px;
  border-radius: 7px;
  outline: none;
  margin-left: 11.5%;
  cursor: pointer;
  margin-top: 1%;
}

.btn-light {
  background-color: #274285;
  font-size: 1.2em;

}

.btn-light:hover {
  border: 2px solid #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}
