<br><br>
<style>
    /* Your existing CSS code here */

    footer::after {
        content: "";
        display: block;
        height: 3px; /* Adjust the height of the line as needed */
        background-color: #127ed1; /* Your specified color */
        width: 90%;
        margin-left: 4%;
        margin-top: 2%; /* Adjust the distance between the footer and the line */
        position: relative;
        z-index: 1;
    }
</style>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:wght@300;500&family=Roboto:wght@300&display=swap" rel="stylesheet">

<img src="assets/banner/Screenshot 2023-11-10 151135.png" width="2000" style="margin-left: -1%;">
<section id="license">
    <h3>Ready to take the next step?</h3>
    <p>Let's talk more about our solution for platforms and marketplaces</p>
</section>

<div class="newsletter-form">
    <input type="email" class="form-control" id="emailInput" placeholder="Enter your email address here" required>
    <button type="submit" class="btn btn-primary">Request Demo</button>
  </div>
   
<div class="image-row">
    <img src="assets/banner/image-1055x120.jpg" width="2000">
</div><br>
<div class="grey">
<img src="assets/banner/image-658x33.jpg" width="2500" height="400" style="margin-left: -1%;">
</div>

<footer class="endpart">
   
    <div class="white">

        <div class="col">
            <img src="assets/klogo-removebg-preview.png" width="200">
            <h4>3rd Floor, Utumishi Co-op</h4>
            <h4>House, Mamlaka Road, Nairobi</h4>
            <h4>Kenya</h4>
            </div>
           

            <div class="payments">
                <h3><span>PAYMENTS</span></h3>
                <h4>Card <br> Payments</h4>
            <h4>Mobile <br> Payments</h4>
            </div>


            
          <div class="products">
                <h3><span>PRODUCTS</span></h3>
                <h4>SMS</h4>
            <h4>USSD</h4>
            </div>

            

            <div class="developers">
                <h3><span>DEVELOPERS</span></h3>
                <h4>API</h4>
            <h4>Integration <br> Methods</h4>
            </div>


            
          <div class="company">
                <h3><span>COMPANY</span></h3>
                <h4>KentaPay</h4>
            <h4>Swivel Payments</h4>
            </div>

              
          <div class="help">
            <h3><span>HELP AND SUPPORT</span></h3>
            <h4>FAQS</h4>
        <h4>Cotact Us</h4>
        </div>
    </div>
    <div class="line"></div>

</footer>

<div class="greytext">
    <h3>© 2020 All Right Reserved. Swivel Payment Solutions</h3>
</div>
<div class="footer-links">
    <a href="#">Terms of Use</a>
    <span>|</span>
    <a href="#">Privacy Policy</a>
</div>