
#license h3{
    font-size: 2.2em;
    margin-top: -25%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
   text-align: center;
   letter-spacing: 1px;
  }
  #license p{
    font-size: 1.5em;
    font-weight: 300;
    color: #fff;
    margin-top: 1%;
   text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4%;
    
  }

  .newsletter-form {
    text-align: center;
    padding: 20px;
  }
  
  .newsletter-form input.form-control {
    width: 40%;
    padding: 20px 60px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    border: 2px solid #fff;
    color: #1a1a1a !important;
  }
  
  button {
    width: 20%;
    padding: 20px 60px;
    border: 1px solid #fff;
    background-color: #206fb7;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    border-radius: 7px;
    border: 2px solid #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
.image-row {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
 margin-left: 2%;
 margin-top: 6%;
 overflow: hidden;
 animation: scrollLogos 10s linear infinite;
}

 
@keyframes scrollLogos {
  0% {
      transform: translateX(5);
  }
  100% {
      transform: translateX(-50%); /* Move the logos to the left by the width of one logo */
  }
}

.grey img {
margin-top: -1%;
}

    .white {
      text-align: center;
      padding: 40px; /* Adjust the padding as needed */
      margin-top: -42%;
     
    }
   
    
    .col {
      text-align: left;
      margin-top: 17%;
      margin-left: 1%;
      
    }
    
    .col h4 {
      font-size: 17px; /* Adjust the font size as needed */
      color: #1a1a1a; /* Adjust the text color as needed */
      line-height: 7px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
     
    
    }
    
    .payments {
      text-align: left;
      margin-top: -13%;
      font-family: 'Roboto', sans-serif;
      margin-left: 30%;
    }
    
    
    .payments h3 {
      font-size: 1.2em; /* Adjust the font size as needed */
      color: #127ed1; /* Adjust the text color as needed */
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }
    
    .payments h4 {
      font-size: 17px; /* Adjust the font size as needed */
      color: #127ed1; /* Adjust the text color as needed */
      font-weight: 500;
      margin-top: 2%;
      transition: 0.3s ease;
      font-family: 'Roboto', sans-serif;
      
    }
    .payments h4:hover,
    .payments h4:hover {
      color: #1a1a1a;
      cursor: pointer;
    }
    
    .products {
      text-align: left;
      margin-top: -13%;
      font-family: 'Roboto', sans-serif;
      margin-left: 43%;
    }
    
    .products h3 {
        font-size: 1.2em; /* Adjust the font size as needed */
        color: #127ed1; /* Adjust the text color as needed */
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    
    .products h4 {
        font-size: 17px; /* Adjust the font size as needed */
        color: #127ed1; /* Adjust the text color as needed */
        font-weight: 500;
        margin-top: 2%;
        transition: 0.3s ease;
        font-family: 'Roboto', sans-serif;
    }
    .products h4:hover,
    .products h4:hover {
      color: #1a1a1a;
      cursor: pointer;
    }

    .developers {
        text-align: left;
        margin-top: -10%;
        font-family: 'Roboto', sans-serif;
        margin-left: 55%;
      }
      
      
      .developers h3 {
        font-size: 1.2em; /* Adjust the font size as needed */
        color: #127ed1; /* Adjust the text color as needed */
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
      }
      
      .developers h4 {
        font-size: 17px; /* Adjust the font size as needed */
        color: #127ed1; /* Adjust the text color as needed */
        font-weight: 500;
        margin-top: 2%;
        transition: 0.3s ease;
        font-family: 'Roboto', sans-serif;
        
      }
      .developers h4:hover,
      .developers h4:hover {
        color: #1a1a1a;
        cursor: pointer;
      }
      
      .company {
        text-align: left;
        margin-top: -11.5%;
        font-family: 'Roboto', sans-serif;
        margin-left: 68%;
      }
      
      .company h3 {
          font-size: 1.2em; /* Adjust the font size as needed */
          color: #127ed1; /* Adjust the text color as needed */
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
      }
      
      .company h4 {
          font-size: 17px; /* Adjust the font size as needed */
          color: #127ed1; /* Adjust the text color as needed */
          font-weight: 500;
          margin-top: 2%;
          transition: 0.3s ease;
          font-family: 'Roboto', sans-serif;
      }
      .company h4:hover,
      .company h4:hover {
        color: #1a1a1a;
        cursor: pointer;
      }
      
      .help {
        text-align: left;
        margin-top: -9.8%;
        font-family: 'Roboto', sans-serif;
        margin-left: 82%;
      }
      
      .help h3 {
          font-size: 1.2em; /* Adjust the font size as needed */
          color: #127ed1; /* Adjust the text color as needed */
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
      }
      
      .help h4 {
          font-size: 17px; /* Adjust the font size as needed */
          color: #127ed1; /* Adjust the text color as needed */
          font-weight: 500;
          margin-top: 2%;
          transition: 0.3s ease;
          font-family: 'Roboto', sans-serif;
      }
      .help h4:hover,
      .help h4:hover {
        color: #1a1a1a;
        cursor: pointer;
      }
      
.greytext {
    margin-top: 18.5%;
    
  }
  .greytext h3{
  color: rgb(88, 88, 87);
    margin-left: 4%;
    margin-top: -17%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
  }

  .footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2.5%; /* Adjust as needed */
    margin-right: 6%;
}

.footer-links a {
    color: rgb(88, 88, 87);
    text-decoration: none;
    margin-left: 10px; /* Adjust the spacing between links */
    font-family: 'Roboto', sans-serif;
}


.footer-links a:hover {
  color: #127ed1;
  
}

.footer-links span {
    margin: 0 10px;
    color: #127ed1;
}

